:root {
    --red: rgb(199, 0, 0);
}

* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    color: rgba(0, 0, 0, 0.925);
}

h1 {
    font-size: 3.5rem;
    margin: 0;
    font-family: 'Lobster', cursive;
    color: var(--red);
    line-height: 1;
    font-weight: 400;
}

h2 {
    font-weight: 600;
    margin-top: 8px;
    font-size: 1.35rem;
}

h3.card-title {
    margin: 0 0 6px 0;
    line-height: 1.25;
}

h4 {
    font-size: 1.5rem;
    margin: 0;
    font-family: 'Lobster', cursive;
    color: var(--red);
    line-height: 1;
    font-weight: 400;
}

body {
    background-color: #EEEEEE;
}

main.grid {
    display: grid;
    grid-template-columns: 3fr 5fr;
    gap: 16px;
    max-width: calc(1200px + 10vh);
    margin: 0 auto;
    padding: 5vh;
}

.content {
    position: relative;
}

.inner-content {
    background-color: white;
    padding: 16px;
    border-radius: 8px;
    box-shadow: 0 2px 2px hsla(0, 0%, 0%, 0.03);
    position: sticky;
    top: 5vh;
    height: 90vh;
    max-height: 750px;
    display: flex;
    flex-direction: column;
}

.img-fill {
    flex-grow: 1;
    background-image: url('./images/2023/bk@1x.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 4px;
    position: relative;
}

.see-you {
    font-size: 2.5rem;
    margin-top: 32px;
    text-align: center;
}

.inner-content p {
    line-height: 1.75;
}

.gallery-card {
    width: 100%;
    background-color: white;
    padding: 16px;
    border-radius: 8px;
    box-shadow: 0 2px 2px hsla(0, 0%, 0%, 0.03);
}

.gallery-card:not(:last-of-type) {
    margin-bottom: 16px;
}

.gallery-card p {
    color: rgba(0, 0, 0, 0.55);
}

.date {
    margin: 0;
}

.description {
    margin: 0;
    margin-bottom: 8px;
}

.card-img {
    width: 100%;
    object-fit: cover;
    border-radius: 4px;
    display: block;
    margin-bottom: 16px;
}

.card-img.sm {
    max-width: 100px;
}

@media screen and (max-width: 1000px) {
    h1{
        font-size: 3rem;
    }
    main.grid {
        grid-template-columns: 1fr;
        padding: 16px;
    }
    .inner-content {
        position: static;
    }
}